<!-- annouce Section -->
<section id="annouce" class="contain center">
   <div class="limiter pad8y clearfix center">
      <div class="center">
         <h2 class="dark">Last chance - Apply now!</h2>
      </div>
   </div>
   <div class="col12 clearfix contain center space-bottom8">
      <div class="limiter">
         <div class="col12 pad0y space-bottom2">
            <h3 class="announce-title"><a href="https://blog.openstreetmap.org/2017/02/16/propose-your-session-to-state-of-the-map-2017/" class="sub_color">Community survey</a></h3>
            <p class="varela">Please apply to community survey for Program.</p>
         </div>
	   </div>
   </div>
</section>
