<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="footer-logo">
               {% include svg/logo-footer.svg%}
            </div>
            <div class="col-md-8">
                <div class="bottom-display">
                   <ul class="list-inline">
                       <li class="col3">
                          <a href="#home">Home</a>
                       </li>
                       {% for nav_item in site.data.nav %}
                          <li class="col3">
                             <a href="{{ nva_item.link }}">{{ nav_item.name}}</a>
                          </li>
                       {% endfor %}
                   </ul>
                </div>
            </div>
        </div>
        <p class="copyright text-muted small">{{ site.copyright }}</p>
    </div>
</footer>
