<section class='fill-pink center' id='newsletter'>
  <div class='limiter pad8y'>
    <div id='mc_embed_signup' class='pad4y'>
      <form action='//stateofthemap.us12.list-manage.com/subscribe/post?u=35fbd52db2e057225b26d989c&amp;id=b9e7347b14' method='post' id='mc-embedded-subscribe-form' name='mc-embedded-subscribe-form' class='validate' target='_blank' novalidate>
        <div id='mc_embed_signup_scroll'>
          <i class='fa fa-2x fa-fw fa-newspaper-o dark color-red'></i>
          <h1 class='color-red txt-bold'>Sign up for event updates</h1>
          <h2 class='col10 margin1 space-top1 space-bottom2 pad2x'>Registration is opening soon. Get updates in time for early bird tickets, session proposals, scholarships and more.</h2>
          <div class='mc-field-group clearfix pad2y space-top2'>
          <fieldset class='clearfix input-pill pill col8 margin2 margin2r contain space-bottom2'>
            <input type='email' value='' name='EMAIL' id='mce-EMAIL' placeholder='Email address' class='col9 required studio-signup dot-field required email'>
            <input type='submit' value='Sign up' name='subscribe' id='mc-embedded-subscribe'  class='col3 button fill-red animate dot-button'>
          </fieldset>
        </div>

        <div id='mce-responses' class='clear'>
          <div class='response' id='mce-error-response' style='display:none'></div>
          <div class='response' id='mce-success-response' style='display:none'></div>
        </div>

        <div style='position: absolute; left: -5000px;'>
          <input type='text' name='b_35fbd52db2e057225b26d989c_b9e7347b14' tabindex='-1' value=''>
        </div>
        <div class='clear'></div>
      </form>
    </div>
  </div>
</section>
