<section class='fill-white contain center pad8y' id='sponsors'>
	<div class='limiter pad4y center'>
    <h1 class='space-bottom4 txt-bold'>Interested in sponsoring?</h1>
    <div class='clearfix'>
      <div class='col4 pad4x space-bottom2'>
        <div class='placeholder color-red border-red round pad4 txt-bold'>
          Your logo here
        </div>
      </div>
      <div class='col4 pad4x space-bottom2'>
        <div class='placeholder color-red border-red round pad4 txt-bold'>
          Your logo here
        </div>
      </div>
      <div class='col4 pad4x space-bottom2'>
        <div class='placeholder color-red border-red round pad4 txt-bold'>
          Your logo here
        </div>
      </div>
    </div>
	</div>
</section>
