---
layout: ja/programja
color: fill-midnight
themes:
  - key: all
    label: All
    color: all
  - key: Cartography-and-visualisation
    label: Cartography and visualisation
    color: visualisation
  - key: Community-growth-and-diversity,-outreach
    label: Community growth and diversity, outreach
    color: community-growth
  - key: Contribution-&-data-collection
    label: Contribution & data collection
    color: getting-around
  - key : Humanitarian
    label: Humanitarian
    color: humanitarian
  - key: GIS,-data-use-and-data-analysis
    label: GIS, data use and data analysis
    color: analysis
  - key: Introduction-to-OSM,-first-steps-for-beginners
    label: Introduction to OSM, first steps for beginners
    color: introduction
  - key: IT-and-technical,-operations
    label: IT and technical, operations
    color: technical
  - key: Local-community
    label: Local-community
    color: local-community
  - key: Organisational,-legal
    label: Organisational, legal
    color: legal
  - key: Transport,-routing-and-urban-planning
    label: Transport, routing and urban planning
    color: transport
  - key: Other
    label: Other
    color: Other
---

    <div class='pad4y col12 clearfix prose'>
      <div class='col12 space-bottom4 contain'>

        <div
          id='program-intro'
          class='col12 clearfix space-bottom4'>
          <div class='col8'>
            <h1 class="color-purple2 spartan">日程概要</h1>
            <p class="sans">State of the Map 2017 は<b>2017年8月18日から20日</b>にかけて福島県会津若松市で開催されます。<a href="/venue">会津若松市文化センター</a>でお会いしましょう。</p>
            <ul>
              <li><b><a href="#friday">8月18日 金曜日</a>:</b> State of the Map の初日です。20分セッションや<a href="/ja/lightning-talks">ライトニングトーク</a>が予定されています。詳細はタイムテーブルをご覧ください。</li>
              <li><b><a href="#saturday">8月19日 土曜日</a>:</b> State of the Map 二日目は20分セッションに加えて OSM アワードの発表が予定されています。予定されているセッションはタイムテーブルでご確認ください。</li>
              <li><b><a href="#sunday">8月20日 日曜日</a>:</b> State of the Map 最終日はマッピングやドキュメント作成などのワークショップが予定されています。一緒に活動することで新しい仲間や知識を発見しましょう。応募の多かった<a href="/ja/lightning-talks">ライトニングトーク</a>はこの日にも予定されています。</li>
            </ul>
            <h1 class="color-purple2 spartan">タイムテーブル</h1>
            <p class='sans'>素晴らしいセッションとワークショップが多数ラインナップされています。あなたの聞きたくなるセッションが必ずあるはずです。セッションとワークショップの詳細な情報をご覧ください。</p>
          </div>
        </div>
        <header class='js-fixed program-header fill-purple dark z1 col12 mobile-cols clearfix keyline-all contain'>
          <div class='col8 truncate pad1 js-date'>Friday</div>

          <div class='col4 keyline-left'>
            <a href='#' class='js-dropdown-trigger quiet pad1 block truncate'>
              <span class='dot pad0 inline fill-all'></span>
              All categories
            </a>
            <div class='js-dropdown dropdown scroll-styled col4 hidden pin-topright z1 keyline-all'>
              {% for theme in page.themes %}
                <a href='#' data-category='{{theme.key}}' data-label='{{theme.label}}' data-color='{{theme.color}}' class='quiet block pad1x pad0y keyline-bottom js-category'>
                  <span class='dot pad0 inline fill-{{theme.color}}'></span>
                  {{theme.label}}
                </a>
              {% endfor %}
            </div>
        </header>

        <!-- Friday -->
        <div
          data-title='Friday 9:00am'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0' id='friday'>
          <label>
            <span class='pad1 inline fill-darken01 keyline-right timestamp'>9:00am</span>
            <span class='pad1 inline'>Registration / Coffee / Tea</span>
          </label>
        </div>

        <div
          data-title='Friday 9:30am'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>9:30am</span>
            <span class='pad1 inline'>Welcome</span>
          </label>
        </div>

        <div
          data-title='Friday 10:00am'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>10:00am</span>
            <span class='pad1 inline'>Keynote</span> with <span class='light'>Kate Chapman</span>
          </label>
        </div>
        <div
          data-title='Friday 10:30am'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>10:30am</label>
        </div>
        <div
          data-title='Friday 10:30am'
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn1 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 11:00am'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>11:00am</label>
        </div>
        <div
          data-title='Friday 11:00am'
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn2 reversed %}
          {% capture time %}10:30am{% endcapture %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 11:30am'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>11:30am</span>
            <span class='pad1 inline'>Coffee / Tea</span>
          </label>
        </div>

        <div
          data-title='Friday 12:00am'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>12:00am</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn3 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 12:30pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>12:30pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn4 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 1:00pm'
          class='program-block keyline-left keyline-right keyline-bottom  fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>1:00pm</span>
            <span class='pad1 inline'>Lunch</span>
          </label>
        </div>

        <div
          data-title='Friday 1:50pm'
          class='program-block keyline-left keyline-right keyline-bottom  fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>1:50pm</span>
            <span class='pad1 inline'>Group Photo</span>
          </label>
        </div>

        <div
          data-title='Friday 2:10pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>2:10pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn5 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 2:40pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>2:40pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn6 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 3:10pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>3:10pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn7 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 3:40pm'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>3:40pm</span>
            <span class='pad1 inline'>Coffee / Tea</span>
          </label>
        </div>

        <div
          data-title='Friday 4:10pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>4:10pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn8 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 4:40pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>4:40pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn9 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 5:10pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>5:10pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn10 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 5:40pm'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>5:40pm</span>
            <span class="pad1 inline">End</span>
          </label>
        </div>

        <!-- Saturday -->
        <h2 id='saturday'>Saturday</h2>
        <div
          data-title='Saturday 9:00am'
          class='program-block keyline-all fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>9:00am</span>
            <span class='pad1 inline'>Registration / Coffee / Tea</span>
          </label>
        </div>

        <div
          data-title='Saturday 9:30am'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>9:30am</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn11 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 10:00am'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>10:00am</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn12 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 10:30am'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>10:30am</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn13 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 11:00am'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>11:00am</span>
            <span class='pad1 inline'>Coffee / Tea</span>
          </label>
        </div>

        <div
          data-title='Saturday 11:30am'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>11:30am</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn14 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 12:00pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>12:00pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn15 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 12:30pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>12:30pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn16 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 1:00pm'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>1:00pm</span>
            <span class='pad1 inline'>Lunch</span>
          </label>
        </div>

        <div
          data-title='Saturday 2:00pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>2:00pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn17 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 2:30pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>2:30pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn18 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 3:00pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>3:00pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn19 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 3:30pm'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>3:30pm</span>
            <span class='pad1 inline'>Coffee / Tea</span>
          </label>
        </div>

        <div
          data-title='Saturday 4:00pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>4:00pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn20 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Saturday 4:30pm'
          class='pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom'>
          <label>4:30pm</label>
        </div>
        <div
          class='col12 program-blocks keyline-bottom clearfix'>
        {% for post in site.tags.turn21 reversed %}
          {% include slot-item-small.html %}
        {% endfor %}
        </div>

        <div
          data-title='Friday 5:00pm'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>5:00pm</span>
            <span class='pad1 inline'>Closing plenary</span>
          </label>
        </div>

        <div
          data-title='Friday 5:10pm'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>5:10pm</span>
            <span class='pad1 inline'>OSM Awards</span>
          </label>
        </div>

        <div
          data-title='Saturday 5:30pm'
          class='program-block keyline-left keyline-right keyline-bottom fill-lighten0'>
          <label>
            <span class='pad1 inline fill-darken0 keyline-right timestamp'>5:30pm</span>
            <span class="pad1 inline">End</span>
          </label>
        </div>


      <!-- SUNDAY -->
      <h2 id='sunday'>Sunday</h2>

      <div data-title="Sunday 9:30am" class="program-block keyline-all fill-lighten0">
        <label>
          <span class="pad1 inline fill-darken0 keyline-right timestamp">9:30am</span>
          <span class="pad1 inline">Coffee / Tea</span>
        </label>
      </div>

      <div data-title="Sunday 10:00am" class="pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom">
        <label>10:00am</label>
      </div>
      <div class="col12 program-blocks clearfix">
        {% for post in site.tags.turn22 reversed %}
          {% include slot-item-middle.html %}
        {% endfor %}
      </div>

      <div data-title="Sunday 11:15am" class="program-block keyline-all fill-lighten0">
        <label>
          <span class="pad1 inline fill-darken0 keyline-right timestamp">11:15am</span>
          <span class="pad1 inline">Break</span>
        </label>
      </div>

      <div data-title="Sunday 11:45am" class="pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom">
        <label>11:45am</label>
      </div>
      <div class="col12 program-blocks clearfix">
        {% for post in site.tags.turn23 reversed %}
          {% include slot-item-middle.html %}
        {% endfor %}
      </div>


      <div data-title="Sunday 1:00pm" class="program-block keyline-left keyline-right keyline-bottom fill-lighten0">
        <label>
          <span class="pad1 inline fill-darken0 keyline-right timestamp">1:00pm</span>
          <span class="pad1 inline">Lunch</span>
        </label>
      </div>

      <div data-title="Sunday 2:00pm" class="pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom">
        <label>2:00pm</label>
      </div>
      <div class="col12 program-blocks clearfix">
        {% for post in site.tags.turn24 reversed %}
          {% include slot-item-middle.html %}
        {% endfor %}
      </div>

      <div data-title="Sunday 3:15pm" class="program-block keyline-left keyline-right keyline-bottom fill-lighten0">
        <label>
          <span class="pad1 inline fill-darken0 keyline-right timestamp">3:15pm</span>
          <span class="pad1 inline">Break</span>
        </label>
      </div>

      <div data-title="Sunday 3:45pm" class="pad1 fill-darken0 program-block keyline-left keyline-right keyline-bottom">
        <label>3:45pm</label>
      </div>
      <div class="col12 program-blocks clearfix">
        {% for post in site.tags.turn25 reversed %}
          {% include slot-item-middle.html %}
        {% endfor %}
      </div>

      <div data-title="Sunday 5:00pm" class="program-block keyline-left keyline-right keyline-bottom fill-lighten0">
        <label>
          <span class="pad1 inline fill-darken0 keyline-right timestamp">5:00pm</span>
          <span class="pad1 inline">End</span>
        </label>
      </div>


      </div>



<h3 class=''>Special features:</h3>
<table cellspacing="0" border="0">
	<colgroup width="461"></colgroup>
	<colgroup width="458"></colgroup>
		<td style="border-top: 1px solid #4c4c4c; border-bottom: 1px solid #4c4c4c; border-left: 1px solid #4c4c4c; border-right: 1px solid #4c4c4c" align="left" valign=top bgcolor="#FFF1C9"><b><font face="Calibri" size=3>福島博物館ツアー(to be confirmed)</font></b></td>
		<td style="border-top: 1px solid #4c4c4c; border-bottom: 1px solid #4c4c4c; border-left: 1px solid #4c4c4c; border-right: 1px solid #4c4c4c" align="left" valign=top bgcolor="#FFF1C9"><b><font face="Calibri" size=3>ハックイベント(to be confirmed)</font></b></td>
	</tr>
</table>


	<h3 class=''>Lightning talks &amp; BOFs:</h3>
<table cellspacing="0" border="0">
	<colgroup width="461"></colgroup>
	<colgroup width="458"></colgroup>
	<tr>
		<td colspan=2 height="20" align="left" valign=middle><font face="Calibri" size=3>ライトニングトーク(<a href="/ja/lightning-talks/">LT のリストをご確認ください</a>)や birds of a feather (BOF) も多数予定されています。</font></td>
		</tr>
</table>
      </div>

<script src='/js/jquery.js'></script>
<script src='/program/affix.js'></script>
<script src='/program/program.js'></script>
