<!-- annouce Section -->
<section id="annouce" class="contain center">
   <div class="limiter pad8y clearfix center"><!--
      <div class="center">
         <h2 class="dark">Last chance - Apply now!</h2>
      </div>-->
   </div>
   <div class="col12 clearfix contain center space-bottom8">
      <div class="limiter">
         <div class="col6 pad0y space-bottom2">
            <h3 class="announce-title"><a href="https://blog.openstreetmap.org/2017/02/16/propose-your-session-to-state-of-the-map-2017/" class="sub_color">カンファレンスプログラム</a></h3>
            <p class="varela">プログラムを作るための<a href="https://blog.openstreetmap.org/2017/02/16/propose-your-session-to-state-of-the-map-2017/">発表への応募</a>と<a href="https://blog.openstreetmap.org/2017/04/11/community-survey-for-the-state-of-the-map-2017-program/">コミュニティ調査</a>への参加に感謝します!</p>
         </div>
         <div class="col6 pad0y space-bottom2">
            <h3 class="announce-title"><a href="https://blog.openstreetmap.org/2017/02/16/propose-your-session-to-state-of-the-map-2017/" class="sub_color">奨学プログラム</a></h3>
            <p class="varela">スポンサーによる支援によって奨学金で一緒に参加できる仲間が増えました。<a href="https://blog.openstreetmap.org/2017/02/22/apply-for-a-scholarship-to-state-of-the-map-2017/">奨学金を申請してくれた方々</a>にも感謝します!</p>
         </div>
	   </div>
   </div>
</section>
