<!-- annouce Section -->
<section id="annouce" class="contain center">
   <div class="limiter pad8y clearfix center">
      <div class="col12 pad0y space-bottom4">
         <h3 class="announce-title">OSMアワードの候補者を募集中です!</h3>
         <p class="varela">OSMアワードの<a href="https://blog.openstreetmap.org/2017/06/19/nominees-openstreetmap-awards/">ノミネートが始まりました</a>。この賞はOSMで素晴らしい活動を行っている人、グループ、組織へ授与されます。世界の中から最もOpenStreetMapへ貢献した人を探すためには<a href="http://awards.osmz.ru/">あなたの協力が必要です</a>。</p>
      </div>
      <div class="col12 pad0y">
         <h3 class="announce-title">チケットの販売が開始されました!</h3>
            <p class="varela">チケットの<a href="https://blog.openstreetmap.org/2017/05/09/registration-open-sotm2017/">販売が開始</a>されました。今なら早期登録の割引価格でチケットを購入できます!</p>
      </div>
   </div>
   <div class="col12 clearfix contain center space-bottom8">
      <div class="limiter">
         <div class="col6 pad0y space-bottom2">
            <h3 class="announce-title"><a href="https://blog.openstreetmap.org/2017/02/16/propose-your-session-to-state-of-the-map-2017/" class="sub_color">カンファレンスプログラム</a></h3>
            <p class="varela">プログラムを作るための<a href="https://blog.openstreetmap.org/2017/02/16/propose-your-session-to-state-of-the-map-2017/">発表への応募</a>と<a href="https://blog.openstreetmap.org/2017/04/11/community-survey-for-the-state-of-the-map-2017-program/">コミュニティ調査</a>への参加に感謝します!</p>
         </div>
         <div class="col6 pad0y space-bottom2">
            <h3 class="announce-title"><a href="https://blog.openstreetmap.org/2017/02/16/propose-your-session-to-state-of-the-map-2017/" class="sub_color">奨学プログラム</a></h3>
            <p class="varela">スポンサーによる支援によって一緒に参加できる仲間が増えました。<a href="https://blog.openstreetmap.org/2017/02/22/apply-for-a-scholarship-to-state-of-the-map-2017/">奨学金を申請してくれた方々</a>にも感謝します!</p>
         </div>
	   </div>
   </div>
</section>
