<!-- annouce Section -->
<section id="annouce" class="contain center">
   <div class="limiter pad8y clearfix center">
      <div class="center">
         <h2 class="dark">あなたの参加をお待ちしています。</h2>
      </div>
   </div>
   <div class="col12 clearfix contain center space-bottom8">
      <div class="limiter">
         <div class="col6 pad0y space-bottom2">
            <h3 class="announce-title"><a href="https://blog.openstreetmap.org/2017/02/16/propose-your-session-to-state-of-the-map-2017/" class="sub_color">セッションを提案</a></h3>
            <p class="varela">セッションを提案することであなたも<br />プログラムに参加することができます。</p>
         </div>
         <div class="col6 pad0y space-bottom2">
	         <h3 class="announce-title"><a href="https://blog.openstreetmap.org/2017/02/22/apply-for-a-scholarship-to-state-of-the-map-2017/" class="sub_color">補助金の申請</a></h3>
            <p class="varela">スポンサーによる支援のおかげで<br />補助金制度を用意することができました。</p>
         </div>
	   </div>
   </div>
</section>
